* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper {
    padding: 1rem 0 0 0 ;
    max-width: 1000px;
    margin: 20px auto;
    min-height: 55vh;
}
.todos p {
    font-size: 2rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    margin: 1rem;
}

.navbar {
    width: 100%;
    padding: 2rem 12rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #c0c0c0;
}

.logo {
    color: white;
    font-size: 2rem;
    text-decoration: none;
}

.logo_ {
    color: black;
}

.nav {
    display: flex;
    align-items: center;
}

.nav ul {
    display: flex;
    flex-direction: row;
}

.nav ul li {
    list-style: none;
    margin-right: 2rem;
}

.nav ul li a {
    font-size: 1.1rem;
    text-decoration: none;
    color: black;
    transition: 0.5s;
}

.nav ul li a:hover {
    color: white;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
td, th {
    border: 2px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:hover:not(:first-child) {
    background-color: #dddddd;
}

.fa-trash {
    color: #c0c0c0;
    font-size: 1.5rem;
}

.fa-pen-to-square {
    color: #c0c0c0;
    font-size: 1.5rem;
}
.fa-solid:hover {
    color: black;
}

.error {
    color: red;
    font-size: 1.5rem;
}

.form {
    display: flex;
    flex-direction: column;
    position: relative;
}
.name {
    width: 20%;
    margin: 1rem 0;
    outline: none;
    border: 1px solid;
    width: 15rem;
    height: 2rem;
    border-radius: 0.5rem;
    padding: 1rem;
}

.description {
    width: 40%;
    border-radius: .5rem;
    resize: none;
    margin: 1rem 0;
    padding: 1rem;
    height: 10rem;
}

.btn {
    width: 8rem;
    height: 3rem;
    font-size: 1.2rem;
    background-color: #c0c0c0;
    outline: none;
    border: none;
}

.btn:hover {
    background-color: #d1d1d1;
    color: #777;
}

.done_container {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 1rem ;
}

.done {
    margin-left: 1rem;
}

.footer {
    display: flex;
    flex-direction: column;
    background-color: #c0c0c0;
    padding: 2rem 5rem;
}

.map {
    display: flex;
    flex-direction: column;
    list-style: none;
    font-size: 1.5rem;
    margin-bottom: 2rem;    
}
.map li a {
    text-decoration: none;
    color: black;
    transition: 0.5;
    font-size: 1.1rem;
}

.map li a:hover {
    color: white;
}